.FeaturedProductsContainer {
  border-bottom: 1px solid #e0e2e6;
  height: 293px;
}

#title {
  box-sizing: border-box;
  padding-top: 5px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#title p {
  display: inline-block;
  color: #7c8695;
}

#title a {
  color: #1c2534;
  text-decoration: none;
}

#title a:hover {
  color: #71973c;
}