.Profile {
    width: 202px;
    height: 32px;
    margin: 18px 0 18px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Profile span {
    width: 32px;
    height: 32px;
    background: url("../../assets/images/ProfileImage.png");
}

.ProfileName {
    display: inline-block;
    color: white;
}