.Content {
    display: flex;
    margin: 68px 223px 0 calc(100vw - 1163px);
}

.LeftSidebar {
    flex: 0 0 212px;            /* flex-grow: 0, flex-shrink: 0, flex-basis: 212px */
}

.RightSidebar {
    flex: 0 0 213px;
}

@media only screen and (max-width: 1190px){
  .Content {
    margin: 68px 28px 0 3%;
  }
}