.Content {
    display: flex;
    margin: 68px 223px 0 14.8%;
}

.LeftSidebar {
    flex: 0 0 212px;            /* flex-grow: 0, flex-shrink: 0, flex-basis: 212px */
}

.RightSidebar {
    flex: 0 0 213px;
}

.ServiceDirectory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: calc(100% - 425px);
    background-color: blue;
    margin: 62px 16px 0 15px;
    padding: 16px 12px 0 0;
    border-radius: 3px;
}

.ServiceDirectory__item {
    width: 140px;
    height: 140px;
    margin: 0 2px 0 15px;
    background-color: red;
}