.ServiceCategoryContainer {
  box-sizing: border-box;
  width: 140px;
  height: 200px;
  margin: 0 2px 0 15px;

}

.ServiceCategoryContainer a {
  text-decoration: none;
}

.CategoryImageContainer {
  width: 139px;
  height: 129px;
  border: 1px solid #e0e2e6;
  text-align: center;
  padding-top: 10px;
}

.CategoryName {
  font-size: 13.5px;
  color: #1c2534;
  text-align: center;
  margin-top: 13px;
}

.ServiceCategoryContainer a:hover .CategoryImageContainer {
  background-color: #f4f7fb;
}

.ServiceCategoryContainer a:hover .CategoryName {
    color: #71973c;
}