.Notification {
    width: 24px;
    height: 24px;
    margin: 22px 0 0 20px;
    background: url(../../assets/images/Notifications.png) no-repeat;
}

.Chat {
    width: 26px;
    height: 22px;
    margin-top: 24px;
    background: url(../../assets/images/Chat.png) no-repeat;
}

