.NavigationItems li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e0e2e6;
    list-style: none;
}

.NavigationItems a {
    height: 100%;
    display: block;
    text-decoration: none;
    color: #59606b;
}

.NavigationItems span {
  display: inline-block;
}

